<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ nom_site }}</title>
</head>

<body>
<h1>{{ nom_site }} : Administration<br/>
ADMINISTRATION</h1>
<h3>Bienvenue</h3>

<form method="post" action="sauthentifier.php">
	<fieldset>
	   <label for="login">Login</label> :<input type="password" name="login" id="login"/>
	</fieldset>
	<input type="submit" value="S'authentifier" />	
</form>
</body>
</html>
